.articles {
    margin: 50px 10vw;
}

.articles .inline-form {
    display: flex;
    flex-direction: row;
}

.articles .inline-form button {
    margin-top: 5px;
}

.articles .inline-input {
    width: 300px;
    margin-right: 10px;
}

.filters {
    flex-direction: column;
    margin-bottom: 40px !important;
}

.filters .list{
    margin-top: 20px;
}

.filters .tag{
    margin-right: 10px;
}

.news h2 {
    margin: 50px 0 30px 20px;
    text-transform: uppercase;
}

.new-container {
    padding: 15px;
    flex-grow: 1;
}

.new-content {
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 2px #dddddd;
    box-shadow: 0px 0px 15px 2px #dddddd;
    color: inherit;
    display: block;
    background-color: #FFF;
}

.new-content h3 {
    margin-bottom: 20px;
}

.new-content img {
    margin: 10px 0 20px 0;
}

.no-news {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.no-news img {
    height: 80px;
    opacity: 0.8;
    margin: 30px 0 10px 0;
}