@import "articles.css";

/* Crypto Detail Page */

.crypto-detail {
    padding: 70px 10vw;
}

.crypto-detail .logo {
    text-align: center;
}

.crypto-detail .logo h1 {
    margin-top: 20px;
    font-size: 2.5rem;
}

.crypto-detail .logo img {
    max-height: 300px;
    padding-right: 100px;
    object-fit: contain;
}

.crypto-detail .infos {
    padding-top: 30px;
}

.crypto-detail li {
    padding: 15px 0;
}

.crypto-detail li label {
    font-weight: 800;
    padding-right: 15px;
}

.crypto-detail .trend {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    margin: 20px 10px;
    height: 100%;
    background-color: #FFF;
    padding: 5px 20px;
}

.crypto-detail .trend label {
    font-weight: bold;
    text-transform: capitalize;
}

.crypto-detail .trend img {
    max-height: 20px;
    max-width: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.crypto-detail .trend label, .crypto-detail .trend span {
    font-size: 20px;
    padding: 15px 0;
}

.crypto-detail .chart-container {
    position: relative;
    margin: 70px auto;
    height: 350px;
    width: 100%;
}