/* CryptoList */
.currencySelect {
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: x-small;
    font-weight: bold;
    margin-left: 2px;
}

.crypto-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.crypto-table a {
    color: inherit;
    font-weight: bold;
}

.crypto-table thead tr, .crypto-table tbody tr {
    text-align: left;
}

.crypto-table thead tr th {
    font-weight: bold;
    font-size: 14px;
    color: rgb(180, 180, 180);
}

.crypto-table tbody td {
    color: rgb(54, 54, 54);
    background-color: #fff;
    padding: 10px 0;
}

.crypto-table tbody td:first-child {
    padding-left: 30px;
    border-radius: 20px 0 0 20px;
}

.crypto-table tbody td:last-child {
    border-radius: 0 20px 20px 0;
}

.crypto-table .sub-icon {
    margin-left: 15px;
}

.crypto-table .uppercase {
    text-transform: uppercase;
}

.star {
    cursor: pointer;
}

.daycash {
    padding-left: 15px;
}

.lidiv {
    display: flex;
    border-bottom: solid black 1px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-top: 25px;
    width: 100%;
}

.coinName {
    padding-left: 5px;
    vertical-align: baseline;
    line-height: 40px;
}

.pxl {
    width: 15%;
    height: 5%;
    line-height: 40px;
}

.pxl-4 {
    width: 11%;
    line-height: 40px;
}

.pml {
    width: 7%;
    line-height: 40px;
}

.pml4 {
    width: 11%;
    line-height: 40px;
}

.td-center {
    text-align: center;
}

.iconimg {
    margin: auto;
    height: 40px;
    width: auto;
    line-height: 40px;
}